@import "tailwindcss";

/*these are my custom fonts*/
/*Load the font files*/
@font-face {
    font-family: 'Changa One Italic';

    src: url('@/assets/fonts/CHANGAONEITALIC.woff');

    font-weight: 400;

    font-style: italic;
}

@font-face {
    font-family: 'Changa One Regular';

    src: url('@/assets/fonts/CHANGAONEREGULAR.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Bold';

    src: url('@/assets/fonts/OUTFITBOLD.woff');

    font-weight: 700;

    font-style: normal;

}

@font-face {
    font-family: 'Outfit Extra Bold';

    src: url('@/assets/fonts/OUTFITEXTRABOLD.woff');

    font-weight: 800;

    font-style: normal;

}

@font-face {
    font-family: 'Outfit Extra Light';

    src: url('@/assets/fonts/OUTFITEXTRALIGHT.woff');

    font-weight: 200;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Light';

    src: url('@/assets/fonts/OUTFITLIGHT.woff');

    font-weight: 300;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Medium';

    src: url('@/assets/fonts/OUTFITMEDIUM.woff');

    font-weight: 500;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Regular';

    src: url('@/assets/fonts/OUTFITREGULAR.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Semi Bold';

    src: url('@/assets/fonts/OUTFITSEMIBOLD.woff');

    font-weight: 600;
]
font-style: normal;
}

@font-face {
    font-family: 'Outfit Black';

    src: url('@/assets/fonts/OUTFITBLACK.woff');

    font-weight: 900;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Bold';

    src: url('@/assets/fonts/PTSANSBOLD.woff');

    font-weight: 700;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Bold Italic';

    src: url('@/assets/fonts/PTSANSBOLDITALIC.woff');

    font-weight: 700;

    font-style: italic;
}

@font-face {
    font-family: 'PT SANS  Caption Bold';

    src: url('@/assets/fonts/PTSANSCAPTIONBOLD.woff');

    font-weight: 700;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Caption Regular';

    src: url('@/assets/fonts/PTSANSCAPTION.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Italic';

    src: url('@/assets/fonts/PTSANSITALIC.woff');

    font-weight: 400;

    font-style: italic;
}

@font-face {
    font-family: 'PT SANS Narrow Bold';

    src: url('@/assets/fonts/PTSANSNARROWBOLD.woff');

    font-weight: 700;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Narrow Regular';

    src: url('@/assets/fonts/PTSANSNARROW.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Regular';

    src: url('@/assets/fonts/PTSANS.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';

    src: url('@/assets/fonts/URBANISTREGULAR.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Urbanist Italic';

    src: url('@/assets/fonts/URBANISTITALIC.woff');

    font-weight: 400;

    font-style: italic;
}
.animate-shimmer {
    background: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 37%, #e5e7eb 63%);
    background-size: 80% 400%;
    animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
    0% { background-position: -400px 0; }
    100% { background-position: 400px 0; }
}

#background {
    height: 100%;
    background-image: radial-gradient(farthest-corner at 70% 60%, #fff4ed, #f1e9fe, #fef2c3);
}
#background-evet-cards{
    background-image: linear-gradient(180deg,  #fefae8, #f1e9fe, #fefae8);
}

/*Custom themes*/
@theme {
    --font-ChangaOneItalic: 'Changa One Italic';
    --font-ChangaOneRegular: 'Changa One Regular';
    --font-OutfitBold: 'Outfit Bold';
    --font-OutfitExtraBold: 'Outfit Extra Bold';
    --font-OutfitExtraLight: 'Outfit Extra Light';
    --font-OutfitLight: 'Outfit Light';
    --font-OutfitMedium: 'Outfit Medium';
    --font-OutfitRegular: 'Outfit Regular';
    --font-OutfitSemiBold: 'Outfit Semi Bold';
    --font-OutfitBlack: 'Outfit Black';
    --font-PTSANSBold: 'PT SANS Bold';
    --font-PTSANSBoldItalic: 'PT SANS Bold Italic';
    --font-PTSANSCaptionBold: 'PT SANS  Caption Bold';
    --font-PTANSCaptionRegular: 'PT SANS Caption Regular';
    --font-PTSANSItalic: 'PT SANS Italic';
    --font-PTSANSNarrowBold: 'PT SANS Narrow Bold';
    --font-PTSANSNarrowRegular: 'PT SANS Narrow Regular';
    --font-PTSANSRegular: 'PT SANS Regular';
    --font-Urbanist: 'Urbanist';
    --font-UrbanistItalic: 'Urbanist Italic'
}

/*custom colors*/
@theme {
    --color-pumpkin-50: #fff4ed;
    --color-pumpkin-100: #ffe6d5;
    --color-pumpkin-200: #feccaa;
    --color-pumpkin-300: #fdac74;
    --color-pumpkin-400: #fb8a3c;
    --color-pumpkin-500: #f97316;
    --color-pumpkin-600: #ea670c;
    --color-pumpkin-700: #c2570c;
    --color-pumpkin-800: #9a4a12;
    --color-pumpkin-900: #7c3d12;
    --color-pumpkin-950: #432007;

    --color-picton-blue-50: #f2f9fd;
    --color-picton-blue-100: #e4f0fa;
    --color-picton-blue-200: #c2e2f5;
    --color-picton-blue-300: #8dcbec;
    --color-picton-blue-400: #4baedf;
    --color-picton-blue-500: #2997ce;
    --color-picton-blue-600: #1b79ae;
    --color-picton-blue-700: #17608d;
    --color-picton-blue-800: #175275;
    --color-picton-blue-900: #184562;
    --color-picton-blue-950: #102c41;


    --color-supernova-rose-50: #fefae8;
    --color-supernova-rose-100: #fef2c3;
    --color-supernova-rose-200: #fee78a;
    --color-supernova-rose-300: #fdd847;
    --color-supernova-rose-400: #facc15;
    --color-supernova-rose-500: #eabd08;
    --color-supernova-rose-600: #caa204;
    --color-supernova-rose-700: #a18207;
    --color-supernova-rose-800: #856d0e;
    --color-supernova-rose-900: #715e12;
    --color-supernova-rose-950: #423606;



    --color-daisy-bush-50: #f8f3ff;
    --color-daisy-bush-100: #f1e9fe;
    --color-daisy-bush-200: #e6d6fe;
    --color-daisy-bush-300: #d1b5fd;
    --color-daisy-bush-400: #b68bfa;
    --color-daisy-bush-500: #985cf6;
    --color-daisy-bush-600: #803aed;
    --color-daisy-bush-700: #6d28d9;
    --color-daisy-bush-800: #5b21b6;
    --color-daisy-bush-900: #4c1d95;
    --color-daisy-bush-950: #311065;

    --color-serenade-50: #fff7ed;
    --color-serenade-100: #ffecd5;
    --color-serenade-200: #fed9aa;
    --color-serenade-300: #fdc074;
    --color-serenade-400: #fba63c;
    --color-serenade-500: #f99416;
    --color-serenade-600: #ea870c;
    --color-serenade-700: #c2710c;
    --color-serenade-800: #9a5e12;
    --color-serenade-900: #7c4d12;
    --color-serenade-950: #432807;

    --color-dark-one: #222222;
    --color-dark-two: #252525;
}
