@import "tailwindcss";

/*these are my custom fonts*/
/*Load the font files*/
@font-face {
    font-family: 'Changa One Italic';

    src: url('@/assets/fonts/CHANGAONEITALIC.woff');

    font-weight: 400;

    font-style: italic;
}

@font-face {
    font-family: 'Changa One Regular';

    src: url('@/assets/fonts/CHANGAONEREGULAR.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Bold';

    src: url('@/assets/fonts/OUTFITBOLD.woff');

    font-weight: 700;

    font-style: normal;

}

@font-face {
    font-family: 'Outfit Extra Bold';

    src: url('@/assets/fonts/OUTFITEXTRABOLD.woff');

    font-weight: 800;

    font-style: normal;

}

@font-face {
    font-family: 'Outfit Extra Light';

    src: url('@/assets/fonts/OUTFITEXTRALIGHT.woff');

    font-weight: 200;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Light';

    src: url('@/assets/fonts/OUTFITLIGHT.woff');

    font-weight: 300;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Medium';

    src: url('@/assets/fonts/OUTFITMEDIUM.woff');

    font-weight: 500;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Regular';

    src: url('@/assets/fonts/OUTFITREGULAR.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Outfit Semi Bold';

    src: url('@/assets/fonts/OUTFITSEMIBOLD.woff');

    font-weight: 600;
]
font-style: normal;
}

@font-face {
    font-family: 'Outfit Black';

    src: url('@/assets/fonts/OUTFITBLACK.woff');

    font-weight: 900;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Bold';

    src: url('@/assets/fonts/PTSANSBOLD.woff');

    font-weight: 700;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Bold Italic';

    src: url('@/assets/fonts/PTSANSBOLDITALIC.woff');

    font-weight: 700;

    font-style: italic;
}

@font-face {
    font-family: 'PT SANS  Caption Bold';

    src: url('@/assets/fonts/PTSANSCAPTIONBOLD.woff');

    font-weight: 700;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Caption Regular';

    src: url('@/assets/fonts/PTSANSCAPTION.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Italic';

    src: url('@/assets/fonts/PTSANSITALIC.woff');

    font-weight: 400;

    font-style: italic;
}

@font-face {
    font-family: 'PT SANS Narrow Bold';

    src: url('@/assets/fonts/PTSANSNARROWBOLD.woff');

    font-weight: 700;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Narrow Regular';

    src: url('@/assets/fonts/PTSANSNARROW.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'PT SANS Regular';

    src: url('@/assets/fonts/PTSANS.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';

    src: url('@/assets/fonts/URBANISTREGULAR.woff');

    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Urbanist Italic';

    src: url('@/assets/fonts/URBANISTITALIC.woff');

    font-weight: 400;

    font-style: italic;
}


/*Custom themes*/
@theme {
    --font-ChangaOneItalic: 'Changa One Italic';
    --font-ChangaOneRegular: 'Changa One Regular';
    --font-OutfitBold: 'Outfit Bold';
    --font-OutfitExtraBold: 'Outfit Extra Bold';
    --font-OutfitExtraLight: 'Outfit Extra Light';
    --font-OutfitLight: 'Outfit Light';
    --font-OutfitMedium: 'Outfit Medium';
    --font-OutfitRegular: 'Outfit Regular';
    --font-OutfitSemiBold: 'Outfit Semi Bold';
    --font-OutfitBlack: 'Outfit Black';
    --font-PTSANSBold: 'PT SANS Bold';
    --font-PTSANSBoldItalic: 'PT SANS Bold Italic';
    --font-PTSANSCaptionBold: 'PT SANS  Caption Bold';
    --font-PTANSCaptionRegular: 'PT SANS Caption Regular';
    --font-PTSANSItalic: 'PT SANS Italic';
    --font-PTSANSNarrowBold: 'PT SANS Narrow Bold';
    --font-PTSANSNarrowRegular: 'PT SANS Narrow Regular';
    --font-PTSANSRegular: 'PT SANS Regular';
    --font-Urbanist: 'Urbanist';
    --font-UrbanistItalic: 'Urbanist Italic'
}

/*custom colors*/
@theme {
    --color-inch-worm-50: #f8fee7;
    --color-inch-worm-100: #effdca;
    --color-inch-worm-200: #defb9b;
    --color-inch-worm-300: #c7f462;
    --color-inch-worm-400: #b5eb44;
    --color-inch-worm-500: #8fcf13;
    --color-inch-worm-600: #6ea60a;
    --color-inch-worm-700: #537e0d;
    --color-inch-worm-800: #446311;
    --color-inch-worm-900: #3a5413;
    --color-inch-worm-950: #1c2f04;

    --color-danube-50: #f2f8fb;
    --color-danube-100: #e8f2f7;
    --color-danube-200: #d5e7f0;
    --color-danube-300: #bbd7e6;
    --color-danube-400: #9fc2da;
    --color-danube-500: #87aacd;
    --color-danube-600: #7192be;
    --color-danube-700: #5d7ba5;
    --color-danube-800: #4d6586;
    --color-danube-900: #43566c;
    --color-danube-950: #27313f;


    --color-lavender-rose-50: #fdf5fe;
    --color-lavender-rose-100: #fbeafd;
    --color-lavender-rose-200: #f5d4fa;
    --color-lavender-rose-300: #eda2f2;
    --color-lavender-rose-400: #e885ed;
    --color-lavender-rose-500: #d956df;
    --color-lavender-rose-600: #bf36c3;
    --color-lavender-rose-700: #a12aa1;
    --color-lavender-rose-800: #842483;
    --color-lavender-rose-900: #6c236a;
    --color-lavender-rose-950: #470b45;


    --color-lavender-purple-50: #f8f7fb;
    --color-lavender-purple-100: #f2f1f6;
    --color-lavender-purple-200: #e7e5ef;
    --color-lavender-purple-300: #d4d0e2;
    --color-lavender-purple-400: #bbb4d1;
    --color-lavender-purple-500: #a295bd;
    --color-lavender-purple-600: #8c7aa9;
    --color-lavender-purple-700: #7c6a97;
    --color-lavender-purple-800: #68587f;
    --color-lavender-purple-900: #564a68;
    --color-lavender-purple-950: #373045;

    --color-dark-one: #222222;
    --color-dark-two: #252525;
}
